<a href="https://colab.research.google.com/github/ooheunsu/MLops-hk_with_toss-/blob/main/02_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%B3%80%EC%88%98%EC%99%80_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수
- 값이 저장될 수 있는 공간
- 원할때마다 변수값을 바꿀 수 있음.

In [ ]:
a = 2
print(a)

2

# Comment(주석)
- 코드에서 # 으로 시작하는 부분, 실행되지 않음
- 개발자가 어떤 코드인지 설명하는 위한거.

In [ ]:
a = 1
b = 1 # 주석써보기

# 변수에 값이 들어가는 과정
1. 변수의 선언( Declaration )
2. 변수에 값을 할당( Assignment )

In [ ]:
c = 1 # 변수 c를 선언하고, 1을 할당했다.

# 자료형(Data Type)
파이썬은 기본적으로 4가지 자료형을 가지고 있습니다.
- int 정수
- float 실수 (3.0은 실수)
- string 문자열
- bool 참거짓

In [ ]:
a = 1
type(a)

int

In [ ]:
a = 1.0
type(a)

float

In [ ]:
b = 3.14
type(b)

float

In [ ]:
# 문자열은 '' 또는 "" 을 사용함.
a = "응"
type(a)

str

In [ ]:
a = 'hello'
type(a)

str

In [ ]:
# 안녕하세요, 제 이름은 '소민호' 입니다. <- 그대로 출력하려면?
print("안녕하세요, 제 이름은 '소민호' 입니다.")
print('안녕하세요, 제 이름은 "소민호" 입니다.')

안녕하세요, 제 이름은 '소민호' 입니다.
안녕하세요, 제 이름은 "소민호" 입니다.

In [ ]:
a = 3 > 2
print(a)

True

In [ ]:
a = 3 < 2
print(a)
type(a)

False

bool

# Variable naming(변수이름규칙)
- 변수 이름을 지을 때

1. snake_case (ex. toss_bank)
2. CamelCase (ex. TossBank)
3. kebab-case (ex. toss-bank)

파이썬 관례상 변수이름은 snake_case, 클래스 이름은 CamelCase

In [ ]:
student_name = "minho"

In [ ]:
class StudentName:
    pass

In [ ]:
학생이름 = "민호"
print(학생이름)

민호

# 상수
- 변수는 변하는 수
- 상수는 변하지 않는 수, 파이썬에는 상수가 없다?
  - 변수에 특별한 효과를 줘서 상수로 사람이 인지하게함

In [ ]:
# 파이썬에는 상수가 없지만, 관례적으로 상수처럼 생각하게 함
_jumin_number = "880129-1xxxxxxx"
JUMIN_NUMBER = "880129-1xxxxxxx"