<a href="https://colab.research.google.com/github/ooheunsu/MLops-hk_with_toss-/blob/main/03_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%AC%B8%EC%9E%90%EC%97%B4_%EB%8B%A4%EB%A3%A8%EA%B8%B0_%E2%98%85%E2%AD%90(%EC%A4%91%EC%9A%94).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열이란?
- 문자들이 열거(나열) 되어 있으면 문자열(str)
- 열거가 되어 있다? 연속되어 있다. 순서가 있다.
  - Sequence 시퀀스 라고 한다!
- 여러 개의 문자를 순서대로 나열한 것
- 순서가 있다? = 순번 = index
- 문자열은 문자의 시퀀스

In [6]:
name1 = "minho1"
name2 = "minho2"

## 이스케이프 문자

In [7]:
# 이스케이프 문자는 백슬러시(\)를 사용하는 특수한 문자
text = "제 이름은 \"소민호\"입니다." # \없으면 에러뜸
print(text)

제 이름은 "소민호"입니다.

In [8]:
# 개행을 위한 이스케이프 문자 (\n)
text = "안녕하세요. \n반갑습니다."
print(text)

안녕하세요.
반갑습니다.

In [9]:
# 탭을 위한 이스케이프 문자 (\t)
text = "안녕하세요. \t\t\t반갑습니다."
print(text)

안녕하세요. 			반갑습니다.

## Doc String """문자열""" or '''문자열'''
- Doc String 안에 위치한 문자열은 무조건 적은대로 표현됨

In [10]:
text = '''I said, I'm Student'''
print(text)

I said, I'm Student

In [11]:
text = """안녕
하세요
반갑
습니다."""
print(text)
text

안녕
하세요
반갑
습니다.

'안녕\n하세요\n반갑\n습니다.'

# 시퀀스 다루기
- 문자열은 **Sequence**
- Sequence는 **순번이 있다**
  - 순번을 **Offset Index**
- 파이썬의 인덱스는 두 종류가 있다.
  - 양수 인덱스
    - 0부터 시작, 왼쪽 -> 오른쪽으로 한칸씩 증가
  - 음수 인덱스
    - -1부터 시작, 오른쪽 -> 왼쪽으로 한칸씩 감소
- 인덱스는 무조건 **정수**임.

In [12]:
text = "Hello Hahkyung"
print(text)

Hello Hahkyung

In [13]:
# 시퀀스의 크기(길이)를 잴 수 있는 함수 - len
len(text) # text의 길이를 확인(공백을 포함)

14

In [14]:
# a = 10
# len(a)
# 나열(시퀀스)가 되어 있지 않기 때문에 에러뜸

In [15]:
a = "10"
len(a)

2

In [16]:
# 시퀀스 내의 데이터를 인덱스로 접근 할 수 있다.
# [] 안에 인덱스를 집어넣어서 접근
# Hello Hahkyung

print(text[6]) # 띄어쓰기는 포함되지 않아

H

In [17]:
print(text[-1])

g

In [18]:
print(text[-11])

l

# 슬라이싱(Slicing) ★★★★★
- 인덱스를 사용해서 시퀀스를 잘라낸다
- 잘라서 새로운 시퀀스를 만들어 낸다
- [start : end : step]
  - start ~ end - 1 부분을 step 만큼 건너 뛰면서 잘라낸다.

In [19]:
text = "안녕하세요!반갑습니다"
print(text)

안녕하세요!반갑습니다

In [20]:
# start -> 0, end -> 3 이면 0 ~ 2 까지 잘라낸다.
text[0 : 3]

'안녕하'

In [21]:
# end 인덱스의 범위를 벗어나면 자동으로 제일 마지막까지 잘라냄.
text[3 : 500]

'세요!반갑습니다'

In [22]:
# 세요!반갑습
text[3 : 9]

'세요!반갑습'

In [23]:
text[3 : -2] # -2 - 1 = -3 이니까, 습(-3) 까지 잘린다.

'세요!반갑습'

- start, end, step 은 생략이 가능함
- start 를 생략하면 자동으로 0이 들어감
- end 를 생략하면 자동으로 시퀀스의 길이(len)이 들어감

In [24]:
# end 를 생략한 경우
text[3 : ] # text[3 : len(text)]

'세요!반갑습니다'

In [25]:
# start 를 생략한 경우
text[:5]

'안녕하세요'

In [26]:
# text[:] 와 text 의 프린트 결과는 같음. 둘의 차이는?
# 동명이인을 예로 생각하면 됨. 이름은 같지만 다른사람?

In [27]:
text[:-5]

'안녕하세요!'

In [28]:
text[-5 : -1]

'반갑습니'

In [29]:
# 음수 인덱스를 사용하는 것이 양수 인덱스 활용보다 효과적인 경우
image_file_full_name = "my_profile_good_filtered.jpg" # 여기서 파일 이름만 가져오고 싶어요
image_file_full_name[:-4]

'my_profile_good_filtered'

### step
- 지정한 숫자만큼 건너 뛰면서 슬라이싱
- step을 생략하면 기본적으로 1이 주어진다.
- 부호(양수, 음수)를 이용해서 방향 설정도 가능
  - 양수: 정방향(왼쪽 -> 오른쪽)
  - 음수: 역방향(오른쪽 -> 왼쪽)

In [30]:
# 안녕하세요!반갑습니다
text[::2]

'안하요반습다'

In [31]:
text[::3]

'안세반니'

In [32]:
text[3:8:2]
#세요!반갑, 세!갑

'세!갑'

In [33]:
text[::-1] # 문자열 역으로 재정렬

'다니습갑반!요세하녕안'

In [34]:
text[::-2] # 음수(-) 에서 일단 역정렬하고 2개씩

'다습반요하안'

In [35]:
text[8:3:-2] # start, end 보다도 음수 역정렬이 젤 먼저인가봐
# 여기서 단순히 문자열만이 아니고 index도 뒤집힘?

'습반요'

In [36]:
text[-3:-8:-2]

'습반요'

In [37]:
# -1 -2 -3 -4 -5 -6 -7 -8 -9 -10 -11
# 다 니 습 갑 반  ! 요 세 하  녕  안
#  1  2  3  4  5  6  7  8  9  10  11

# 문자열 함수
파이썬에는 문자열을 다룰 수 있는 여러 기능(함수)를 제공함.

In [38]:
text1 = "hello"
text2 = "world"

### 문자열 이어 붙이기

In [39]:
print(text1 + text2)

helloworld

In [40]:
# 문자열 끼리만 이어 붙일 수 있음
# text1 + 10 은 안됨. 에러.

In [41]:
text = "내 나이는 : "
age = 20
# 이 두 변수를 이어붙이기 위해서는?

In [42]:
# 정수를 문자열 형식으로 자료형을 바꿔줘야 함.
# 자료형을 바꾸는 행위를 Type Casting.
text + str(age)

'내 나이는 : 20'

### 문자열 반복하기

In [43]:
# 변수 text1에 들어있는 문자열을 10번 반복한다.
text1 * 10
# text1 * 0.8 불가능! 에러.
# 횟수라하면은 무조건 '정수'

'hellohellohellohellohellohellohellohellohellohello'

## 대/소문자화

In [44]:
# 모든 문자를 대문자로 만들기 - upper()
text2.upper()

'WORLD'

In [45]:
# 모든 문자를 소문자로 만들기 - lower()
"HELLO!!".lower()

'hello!!'

텍스트 데이터(자연어) 처리나 분석을 할 때 자주 사용된다.

```
1. Hello
2. HEllo
3. HeLLo
4. Bye
5. byE

사람의 인식: 헬로우가 3번, 바이가 2번 등장 했구나!
컴퓨터의 인식 : Hello 1번, HEllo 1번, HeLLo 1번, Bye 1번, byE 1번

때문에 대소문자로 인해 컴퓨터가 다 다른단어로 인식하지 않기 위해 텍스트 데이터를 대문자나 소문자로 통일함. 대부분 소문자로 통일.
```

## 문자열 치환
치환 : A를 B로 바꾸는 것(replace - 중요!)

In [46]:
text1.replace('h', 'j')

'jello'

In [47]:
text1.replace('he', 'jo') # 여러개도 가능

'jollo'

## 문자열 포매팅
- 템플릿 만들기
- 문자열 내의 특정한 값을 변수로부터 동적으로 문자열을 생성

In [48]:
name = "소민호"
age = 37

# 제 이름은 소민호입니다. 나이는 37살 입니다. <- 을 출력해보자.
text = "제 이름은 " + name + "입니다. 나이는 " + str(age) + "살 입니다."
print(text)

# 이 과정은 정적이다.

제 이름은 소민호입니다. 나이는 37살 입니다.

In [49]:
name = "김철수"
age = 20

# 제 이름은 소민호입니다. 나이는 37살 입니다. <- 을 출력해보자.
text = "제 이름은 " + name + "입니다. 나이는 " + str(age) + "살 입니다."
print(text)

# 이 과정은 정적이다.

제 이름은 김철수입니다. 나이는 20살 입니다.

In [50]:
# 문자열 포매팅: 문자열의 형식을 미리 지정해 놓고, 필요할 때 특정 부분을 변경
text = "제 이름은 {}입니다. 나이는 {}입니다."
print(text)

제 이름은 {}입니다. 나이는 {}입니다.

In [51]:
text.format(name, age)

'제 이름은 김철수입니다. 나이는 20입니다.'

In [52]:
text.format("민수", 19)

'제 이름은 민수입니다. 나이는 19입니다.'

In [53]:
text = f"제 이름은 {name}입니다. 나이는 {age}입니다."
text
# 포매팅을 사용하니 type이 무관해짐 = 타입캐스팅을 할 필요가 없다는 장점

'제 이름은 김철수입니다. 나이는 20입니다.'

## 문자열 분리(split)
- slice: 특정 부분을 인덱스를 활용해 잘라내기
- split: 특정 구분자를 이용해서 문자열을 쪼개기

In [54]:
text = "이제는 많이 추워진 것 같습니다"
text.split() # 공백을 기준으로 문자열을 분리

['이제는', '많이', '추워진', '것', '같습니다']

In [55]:
text = "#8시간#하루종일#파이썬#더워요#어렵다"
text.split("#")

['', '8시간', '하루종일', '파이썬', '더워요', '어렵다']

In [56]:
text[1:].split("#") # 위 결과값에서 맨앞 공백을 없애보기

['8시간', '하루종일', '파이썬', '더워요', '어렵다']

In [57]:
# 블로그, SNS등의 자연어를 웹에서 수집하면 띄어쓰기가 많은 문제가 된다.
text = "     느그     서장   남천동  살제    " # 이런 경우가 많음
text.split() # 이런경우엔 ("") 을 쓰지 말고 그냥 () 을 사용

['느그', '서장', '남천동', '살제']

좌우 공백 제거

In [58]:
text = "\n\n\nHello!!!\n\n\n"
print(text)

Hello!!!

In [59]:
text.strip()

'Hello!!!'

## 문자열 합치기
- `split`의 반대 개념
- 특정 문자열을 기준으로 리스트에 들어있는 문자열을 합쳐주는 역할

In [60]:
example = ["Hello", "Bye", "World", "Seeya"]

In [61]:
"#".join(example)

'Hello#Bye#World#Seeya'

문제

In [62]:
tags = "#오늘 #배고프다 #저녁에 #꼼장어 #먹어 야지"
# -> ['오늘', '배고프다', '저녁에', '꼼장어', '먹어야지'] 로 만들라는건가?
# tags[1:].split("#") <- 시도한 것
tags[1:].replace(" ", "").split("#")

# 스스로 문제를 만들고 풀어보자.

['오늘', '배고프다', '저녁에', '꼼장어', '먹어야지']

# 형 변환(Type Casting) ⭐⭐
- 데이터의 자료형을 바꾸는 것
-----
:
* int : 정수
* float : 실수
* str : 문자열
* bool : 논리

In [63]:
a = 10 # 정수
float(a)

10.0

In [64]:
str(a)

'10'

In [65]:
bool(a)

True

In [66]:
bool(0) # bool이 참거짓을 판별하기도 하지만 값이 존재하냐 안하냐도 true false로 판단한다. 중요~

False

In [67]:
bool('aa')

True

In [68]:
bool(' ')

True

In [69]:
bool(0.0)

False

In [70]:
# 실수를 정수로
a = 10.123123
int(a)

10

In [71]:
int(True)

1

In [72]:
int(False)

0

In [73]:
True + True

2

# 파싱(Parsing) ⭐⭐⭐⭐⭐⭐
- 문자열을 다른 자료형으로 바꾸는 과정

- 캐스팅, 파싱 두가지가 있는데 파싱이 젤 중요하다.

In [74]:
movie1 = "9.49"
movie2 = "    9.49"
movie3 = "9.34점"

In [75]:
float(movie1)

9.49

In [76]:
# float(movie2)
# float("9. 49") 으로 작성할 경우 moive2도 9. 49도 float의 형태가 아니기 때문에 에러발생
# float(movie3) 를 하더라도 '점' 글자때문에 같은이유로 에러발생

In [77]:
movie_score_sum = movie1 + movie2 + movie3
movie_score_sum

'9.49    9.499.34점'

In [78]:
movie1_socre = float(movie1)
movie2_socre = float(movie2.strip())
movie3_socre = float(movie3[:-1])

movie_socre_avg = (movie1_socre + movie2_socre + movie3_socre) / 3
movie_socre_avg

9.44

In [82]:
int(movie1) # 실수의 형태를 한 문자열이지 정수의 형태인 문자열이 아니기 때문에 에러발생.

ValueError: invalid literal for int() with base 10: '9.49'

In [80]:
int(float(movie1)) # 먼저 실수로 바꿔주고 정수로 바꿔주면 가능.

9

In [81]:
float("10") # 기본적으로 실수는 정수를 포함한다?

10.0