<a href="https://colab.research.google.com/github/ooheunsu/MLops-hk_with_toss-/blob/main/04_%EC%BB%AC%EB%A0%89%EC%85%98_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%83%80%EC%9E%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 컬렉션
- 무언가를 모은것!
- 파이썬의 컬렉션은 **파이썬에 존재하는 모든 것**을 모을 수 있다.
  - 문법적인 요소들 빼고는 모두 다 모을 수 있다.
  - 데이터, 변수, 함수, 클래스, 오브젝트
- 어떠한 데이터를 모아낸 **구조**
  - **자료구조**
- 문자열은 컬렉션이 아니다, 자료형임.

# 컬렉션의 종류
* `list`
  * `Sequence` 자료형
  * `Mutable` 자료형  <- 언제든 데이터 변경 가능
    * 추가된 데이터가 바뀔 수 있다.
  * 중복 데이터 저장이 가능하다.
  * `[]` 또는  `list()` 를 이용해서 만들 수 있다.
* `tuple`
  * `Sequence` 자료형
  * `Immutable` 자료형  <- 데이터 변경 불가
    * 추가된 데이터가 바뀔 수 없다.
    * `str`(문자열) 형식의 데이터도 `Immutable`
  * 중복 데이터 저장이 가능하다.
  * `()`를 활용해서 만든다.

![](https://drive.google.com/uc?export=view&id=1msn5PHEosSt-FIWryX6ZN4L4tAQB6A62)
![](https://drive.google.com/uc?export=view&id=1bQMwgdpZnxownO9KcUux2Y9mmG6KPDXf)

* `set`
  * `Non-Sequence` 자료형
    * 데이터 저장의 순서를 보장하지 않는다.
  * 중복 데이터의 저장도 허용하지 않는다.
  * **집합**의 개념
* **`dict`**
  * `Non-Sequence` 자료형
  * `Key-Value` 구조 자료형
* generator

# list

In [1]:
list1 = [1, 2, 3, "four", [6,7], 7.0, True]
list1

[1, 2, 3, 'four', [6, 7], 7.0, True]

In [2]:
len(list1)

7

In [6]:
print(list1[3])
print(list1[2])
print(list1[4])
print(list1[4][1])

four
3
[6, 7]
7

In [19]:
BTS = ["정국", "슈가", "뷔", "랩몬스터", "지민", "제이홉", "진"]

# 문제 1 => "랩몬스터"에서 "몬스터"만 추출
# BTS[3:4] <- 시도했던 것
BTS[3][1:]

'몬스터'

In [17]:
# 문제 2 => [진, 지민, 뷔, 정국]만 추출
BTS[::-2]

['진', '지민', '뷔', '정국']

## list의 기능
* `append()` ★★★★★
  - 리스트의 제일 뒤에 값을 추가한다.
* `sort()` ★★★
  - 기본적으로 오름차순 정렬
  - `reverse=True` 설정하면 내림차순 정렬
* `pop()`
  - 제일 뒤에 있는 데이터를 **꺼내고** 삭제

In [20]:
list2 = [1,2]
list2.append(3) # 여기서 list2는 3이 추가된 새로운 list2가 생성된게 아니라 기존 list2에 3이 추가되어 변화된 list2인거임.

In [23]:
list2[:2]

[1, 2]

In [22]:
list2
# 하나더 만약 list를 slice로 데이터값을 잘라냈을 때, 기존 list에서 데이터 값이 실제로 잘린게 아니라 슬라이스한 새로운 list가 생성된거임.
# 새로운 데이터(변화가된것처럼 보이는)로 생성되느냐, 기존 데이터가 실제로 변화되느냐. 둘의 차이점을 알기.

[1, 2, 3]

In [24]:
print(list2.append(4))

None

In [25]:
list2

[1, 2, 3, 4]

In [26]:
list2.append("hello")
list2.append(3.141592)
list2

[1, 2, 3, 4, 'hello', 3.141592]

In [27]:
list3 = [5, 1, 4, 7, 2, 3, 6]
list3

[5, 1, 4, 7, 2, 3, 6]

In [29]:
list3.sort() # 여기서 list3는 데이터 값이 실제로 '변화'되었다.
list3

[1, 2, 3, 4, 5, 6, 7]

In [30]:
list3.sort(reverse=True) # 리버스 트루 = 내림차순 정렬
list3

[7, 6, 5, 4, 3, 2, 1]

In [31]:
list4 = ["banana", 'apple', 'avocado', 'cherry', 'mango']
list4

['banana', 'apple', 'avocado', 'cherry', 'mango']

In [32]:
list4.sort() # 알파벳순 정렬이네
list4

['apple', 'avocado', 'banana', 'cherry', 'mango']

In [33]:
list5 = ["Apple", "apple", "Banana", "banana"] # 대문자가 우선
list5.sort()
list5

['Apple', 'Banana', 'apple', 'banana']

In [34]:
list1

[1, 2, 3, 'four', [6, 7], 7.0, True]

In [41]:
item = list1.pop()  # 제일 뒤에서 아이템을 빼낸 후 삭제
print(item, " / ", list1) # ctrl + enter 로 (계속)실행시켜서 리스트에 있는거 다 pop시킴

1  /  []

In [43]:
pokemon1 = ["피카츄", "라이츄"]
pokemon2 = ["꼬부기", "파이리"]

# append 추가
pokemon1.append(pokemon2) # 이 경우엔 포켓몬1에 아이템이 총 3개임(4개 X)
pokemon1

['피카츄', '라이츄', ['꼬부기', '파이리']]

In [44]:
pokemon1 = ["피카츄", "라이츄"]
pokemon2 = ["꼬부기", "파이리"]

# extend 병합
pokemon1.extend(pokemon2)
pokemon1

['피카츄', '라이츄', '꼬부기', '파이리']

In [47]:
# 병합의 더 간단한 버전
pokemon1 = ["피카츄", "라이츄"]
pokemon2 = ["꼬부기", "파이리"]

pokemon1 + pokemon2

# 여기서 차이점은 (extend 경우)포켓몬1에 내부적인 변화가 일어남. (+ 더하기 경우)포켓몬1,2를 합친 새로운 리스트가 생성됨
# list는 대부분 내부적인 변화라는 걸 알아두자.

['피카츄', '라이츄', '꼬부기', '파이리']

# tuple
- 리스트와 매우 흡사하지만 변경(추가, 삭제, 수정)이 불가
- 튜플은 리스트보다 같은 데이터를 가졌을 때 공간을 적게 사용

In [48]:
# 리스트는 아이템 수정이 가능
lst = [1, 2, 3]
lst[1] = "hahahaha"
lst

[1, 'hahahaha', 3]

In [49]:
# 튜플은 아이템 수정이 불가능
tup = (1, 2, 3)
tup

(1, 2, 3)

In [50]:
tup[1] = "hahaha"

TypeError: 'tuple' object does not support item assignment

In [51]:
tup[1]

2

In [52]:
tup[:2]

(1, 2)

In [53]:
tup[::-1]

(3, 2, 1)

In [54]:
# str도 Immutable
text = "abcd"
text[1] = "f"

TypeError: 'str' object does not support item assignment

"abcd" -> "abfcd" 로 변경해보기

In [60]:
text = "abcd"
# text = "ab" + "f" + "cd" <- 시도한것.
text = text[:2] + "f" + text[2:]
text

'abfcd'

In [62]:
# 리스트와 튜플의 저장공간 비교
#         공부하지 말고 참고만 하기.

import sys
lst = [1, 2, 3]
tup = (1, 2, 3) # 소괄호 생략 가능
print(sys.getsizeof(lst))
print(sys.getsizeof(tup))

88
64

## 패킹(Packing), 언패킹(UnPacking) ⭐⭐⭐⭐⭐  정말 많이 사용됨
- 패킹 : 데이터를 모아내는 작업
- 언패킹 : 모아낸 데이터를 풀어 놓는 작업

In [64]:
# 패킹
tup = (1, "two", 3)

# 언패킹
item1, item2, item3 = tup

print(item1)

1

In [65]:
item1, item2 = tup # 에러가 나는 상황을 주의깊에 봐보자.

ValueError: too many values to unpack (expected 2)

In [66]:
item1, item2, item3, item4 = tup

ValueError: not enough values to unpack (expected 4, got 3)

In [68]:
tup = ('one', 2, 'three')

item1 = tup[0]
item2 = tup[2]

In [69]:
# 관례 상 필요 없는 패킹 데이터는 언더바(_)를 변수명으로 사용한다.
# _로 이름이 지어진 변수는 사용하지 않을 변수
item1, _, item2 = tup

In [70]:
_ # 사용하진 않을 변수지만 값이 들어가 있긴해.

2

In [71]:
from re import T
# 1, 3만 언패킹
tup = (1, 2, 3, 4)

item1, _, item2, _ = tup

# Set(집합)

In [1]:
set1 = {1,1,1,2,2,2,3,3,3,4,4,4,5,5,5} # set
lst1 = [1,1,1,2,2,2,3,3,3,4,4,4,5,5,5] # list

print(set1)
print(lst1)

{1, 2, 3, 4, 5}
[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5]

In [3]:
set2 = {"banana", "apple", "mango", "cherry", "orange"} # set 은 순서 즉, 시퀀스가 없음 = 저장 순서가 유지되지 않음.
lst2 = ["banana", "apple", "mango", "cherry", "orange"]

print(set2)
print(lst2)

{'banana', 'orange', 'apple', 'mango', 'cherry'}
['banana', 'apple', 'mango', 'cherry', 'orange']

## Set의 집합 연산
- 교집합 : `intersection`
- 합집합 : `union`
- 차집합 : `difference`
- 부분집합 : `issubset`

In [4]:
A = {1, 2, 3}
B = {2, 3, 4}

In [5]:
# 교집합
A.intersection(B)

{2, 3}

In [6]:
# 합집합
A.union(B)

{1, 2, 3, 4}

In [8]:
# 차집합
A.difference(B) # A-B

{1}

In [9]:
B.difference(A) # B-A

{4}

In [10]:
# 부분집합 - True / False
C = {2, 3}

In [11]:
# 집합 C가 A의 부분집합인가?
C.issubset(A)

True

In [12]:
# 집합 C가 B의 부분집합인가?
C.issubset(B)

True

In [13]:
# 집합 B가 A의 부분집합인가?
B.issubset(A)

False

In [14]:
A[0] # set은 Non-Sequence이기 때문에 인덱스 사용이 불가능!

TypeError: 'set' object is not subscriptable

# `dict`⭐️⭐️⭐️⭐️⭐️
- `{key : value}`
  - `{key1 : value1, key2 : value2, key3 : value1}`
- `key`의 특징
  - `key`는 `set`의 형태로 저장된다.
  - 정수와 문자열로만 설정이 가능하다.
- `value`의 특징
  - `value`는 `list`의 형태로 저장된다.
  - 중복 저장 허용
  - 파이썬에 존재하는 모든 데이터 타입이 저장 될 수 있다.

In [22]:
city = {
    "Korea": "Seoul",
    "Japan": "Tokyo",
    "Canada": "Ottawa"
}

city

{'Korea': 'Seoul', 'Japan': 'Tokyo', 'Canada': 'Ottawa'}

In [16]:
# 딕셔너리에서 데이터를 가져오는 방법
city["Japan"]

'Tokyo'

In [24]:
city["Korea"]

'Seoul'

In [19]:
# 없는 키를 조회하면 에러!
city["USA"]

KeyError: 'USA'

In [25]:
# 없는 키를 조회한 경우 대체 값을 지정
city.get("USA", "없음!")

'없음!'

## `dict`에 데이터를 추가, 변경
- 추가와 변경의 문법이 똑같다.
- 키가 없으면 추가, 있으면 수정

In [26]:
city["China"] = "Beijing"
city

{'Korea': 'Seoul', 'Japan': 'Tokyo', 'Canada': 'Ottawa', 'China': 'Beijing'}

In [27]:
city["Japan"] = "Kyoto"
city

{'Korea': 'Seoul', 'Japan': 'Kyoto', 'Canada': 'Ottawa', 'China': 'Beijing'}

## `dict`의 원소 삭제
- `del` 키워드 활용

In [28]:
del city["Japan"]
city

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'China': 'Beijing'}

## `dict`의 key, value를 확인

In [29]:
# keys() : 딕셔너리의 전체 키를 확인
city.keys()

dict_keys(['Korea', 'Canada', 'China'])

In [30]:
# values() : 딕셔너리의 전체 value를 확인
city.values()

dict_values(['Seoul', 'Ottawa', 'Beijing'])

In [31]:
# items() : 딕셔너리의 전체 key, value를 튜플 형식으로 확인
city.items()

dict_items([('Korea', 'Seoul'), ('Canada', 'Ottawa'), ('China', 'Beijing')])

# 컬렉션 끼리의 타입캐스팅

In [32]:
# list -> tuple
lst = [1, 2, 3]
tuple(lst)

(1, 2, 3)

In [33]:
# tuple -> list
tup = 1, 2, 3
list(tup)

[1, 2, 3]

In [34]:
# Sequence -> Set
lst = [1,1,2,2,3,3,4,4,5,5]
set(lst)

{1, 2, 3, 4, 5}

In [35]:
# dict -> Sequence
list(city)

['Korea', 'Canada', 'China']

In [36]:
set(city)

{'Canada', 'China', 'Korea'}

In [37]:
text = "hello"
list(text)

['h', 'e', 'l', 'l', 'o']

In [38]:
set(text)

{'e', 'h', 'l', 'o'}