<a href="https://colab.research.google.com/github/ooheunsu/MLops-hk_with_toss-/blob/main/06_Condition%EA%B3%BC_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 제어문
- 코드의 **흐름**을 제어하는 문법

## 조건문 ( `Condition` )
- 특정한 조건을 만족하면 ( `True` ) 코드를 실행
- `if`, `elif`, `else`
  * `if` : `만약에 ~라면 ~ 해라`
  * `elif (else if의 약어)` : `그게 아니고 ~라면 ~ 해라`
  * `else` : 그게 아니면 `~ 해라`

### 조건문의 구조
```python
if [condition]:
  code context
elif [condition]:
  code context
elif [condition]:
  code context
...
else:
  code context
```
* 조건 부분에 bool 타입 데이터(True / False)가 온다.

### Code Context
- Context : 코드 문맥
- 특정한 상황에 실행해야 할 코드 뭉터기
- 파이썬에서는 Context를 `indent(들여쓰기)`로 구분
- `indent`는 공백 2칸이나 4칸으로 설정을 하는 것이 관례
- 처음에 `indent`를 2칸으로 지정했으면 계속 2칸으로 쓰고, 4칸으로 지정했으면 계속 4칸으로 쓰면 된다.

In [ ]:
a = 3
b = 2

if a > b:
  print("hi")
  print("bye")

print("done")

hi
bye
done

`elif, else`는 `if`에서 조건이 맞지 않았을 때 연속해서 조건검사를 하고 싶을 때 사용한다.


> 만약에 지갑에 12000원 이상 있으면 택시를 타고, 그게 아니고 지갑에 8000 ~ 12000원 미만 있으면 버스를 타고, 그게 아니면 걸어 간다.

In [ ]:
money = 15000

if money >= 12000:
  print("택시탐")
elif money >= 8000 and money < 12000:
  print("버스탐")
else:
  print("걸어감")

택시탐

In [ ]:
# 5000 이상 8000 미만이면 따릉이 타기 - 조건 추가
money = 15000

if money >= 12000:
  print("택시탐")
elif money >= 8000 and money < 12000:
  print("버스탐")
elif money >= 5000 and money < 8000:
  print("따릉이탐")
else:
  print("걸어감")

택시탐

```python
예시

회원 가입이 성공하려면 글자가 영어와 숫자로만 이뤄져야 하고, 8글자 이상이어야 한다.

if not [회원 아이디가 영어와 숫자로 이루어져 있는가]:
  영어와 숫자만 쓰라고 경고창 띄워주기
if not [8글자 이상인지 검사하는 코드]:
  8글자 이상 입력하라고 경고창 띄워주기
```

* `if`는 독립적인 조건을 구성한다면 여러 개가 올 수있다.
* `elif`는 `if`에 대해 연속 적인 구성을 구성할 때 사용한다.
  - `0 ~ 255`개 까지 사용 가능
* `else`는 `if` 및 `elif`의 모든 조건이 맞지 않을 때 사용한다.
  - `0`개 또는 `1`개만 사용 가능

In [ ]:
num = int(input("숫자 입력: "))
num

숫자 입력: 55

55

# 문제
```계좌에 10000원이 들어 있습니다.
계좌에 10000원이 들어 있습니다.
인출 금액을 입력 받습니다.
인출 금액이 계좌에 있는 금액보다 크면 "인출이 불가능합니다. {} 원의 잔액이 부족합니다." 출력
인출 금액이 계좌에 있는 금액보다 작으면 "{} 원이 인출 되었습니다." 출력
마지막에 현재 계좌의 잔액을 출력 : "현재 잔액은 {} 원 입니다." 출력
```

In [ ]:
bank = 10000

out_money = int(input("인출할 금액을 입력하시오: "))
if out_money > bank:
  print(f"인출이 불가능합니다. {out_money - bank} 원의 잔액이 부족합니다.")
else:
  print(f"{out_money} 원이 인출 되었습니다.")
  print(f"현재 잔액은 {bank - out_money} 원 입니다.")

인출할 금액을 입력하시오: 100
100 원이 인출 되었습니다.
현재 잔액은 9900 원 입니다.

# 반복문( Loop )
- `while` : 조건제 반복
  - **~라면 Code Context를** 반복적으로 실행
    - ex) `exit`을 입력 할 때 까지 코드를 반복
    - ex) 상담 종료 메세지가 입력 될 때까지 반복
- `for ~ in` : 컬렉션 반복
  - 순회 가능한 컬렉션을 더 이상 순회 할 수 없을 때 까지 반복
  - 순회(`iterable`) : 컬렉션 내의 `item`을 하나씩 접근 할 수 있다.
    - `list`, `tuple`, `set`, `dict`
  - `iterator` : 순회를 하게 하는 화살표 <- 쌤 생각에 iterator와 시퀀스의 차이점을 중요하게 생각하신다?

## `while`

```python
while [condition]:
  code context
```

In [ ]:
data = 3
# data가 0이 아니면(condition - 조건) 반복해라
while data != 0:
  print("Hello", data)
  data -= 1 # 무한루트를 방지하기위해서?

print("done")

Hello 3
Hello 2
Hello 1
done

학생이 3과목 시험을 쳤는데 80, 90, 100 을 맞았습니다. 총점과 평균을 구하시오.
while문만 사용하기.

In [ ]:
point_lst = [80, 90, 100]

In [ ]:
# 시도한 것
# point_lst = [80, 90, 100]

# while point_lst:
#   point = point_lst.pop()
#   print("총점: " + point.sum())
#   print("평균:" + point.mean())

AttributeError: 'int' object has no attribute 'sum'

In [ ]:
data = point_lst.copy()  # pop을 쓰면 기존 data들이 사라져서 그냥 남겨둘라고 쓰셨다함.

point_total, point_avg = 0, 0

while len(data) != 0:
  point = data.pop()
  point_total += point

print(f"합계 : {point_total}")
print(f"평균 : {point_total / len(point_lst)}")

합계 : 170
평균 : 85.0

문제
* 숫자를 계속 입력 받다가 -1이 입력되면 멈추기.
  * input을 이용해서 입력을 할 것
  * 이 입력이 -1이면 멈춘다.
  * `number = input()`
  * `number != -1`
* 입력받은 숫자는 모두 더해주세요
  * `total += number`
* 반복이 끝나면 더한 숫자를 출력

## `for`

```python
for <variable> in <iterable>:
  code context
```

- `iterable` : 순회가 가능한 컬렉션
- `variable` : `iterator`에 의해 순회되는 원소(`item`, 멤버)가 저장될 변수

### Iterator? Iterable, Sequence?

Iterator
- Collection에 저장된 요소들을 순차적 처리 하기 위해 사용합니다. (Eager 처리)

![](https://drive.google.com/uc?export=view&id=1H5c9LbX2rHdP2IjJ4jmJbcb_8N_5wGgX)


```
질문. Sequence자료형과 iterable자료형의 차이점은 무엇인가요?
각각의 요소들이 연속적으로 이어졌다는 점에서 비슷한 개념 아닌가요?

답변. 둘이 통하는게 있는 건 맞으나 둘은 아예 다른 의미를 갖습니다.
terator는 원소가 연속적으로 있다는 의미를 내포하고 있지 않습니다.
어떤 객체가 iterable하다는 것은, 그 객체의 원소를 하나씩 반환할 수 있다는 뜻입니다.
여기서 이 반환하는 원소는 반드시 그 순서가 정의될 필요는 없습니다.

반면 sequence 타입은 원소가 순서대로 나열되어 있는 타입을 의미합니다.
어떤 객체가 sequence이면, 그 객체의 구현은 원소가 순서대로 쭉 나열되어 있으며,
따라서 정수를 통한 인덱싱과 슬라이싱이 가능합니다.

각각의 정의를 잘 들여다보시면, iterator는 그 객체의 동작 방식을 정의하고 있고,
sequence는 그 객체의 형태를 정의하고 있습니다. 둘이 다릅니다.
또한 iterator는 원소를 "하나씩" 반환하면 iterable이라고 정의하고 있으나,
그 순서에 대해서는 어떠한 말도 하지 않고 있습니다.

Iterator이지만 sequence는 아닌 대표적인 자료형이 dict와 set입니다.
이들은 원소가 순서대로 나열되어 있지 않다는 점에서 sequence가 아닙니다.
하지만 둘 다 자신의 원소를 하나씩 반환하는 거는 가능하므로 iterator입니다.
이 때 원소를 하나씩 반환하는 순서는 꼭 정해질 필요가 없습니다.
Iterable인지 아닌지는 그걸 따지지 않고, "원소를 하나씩 반환한다"가 가능한지에 의거하여 정의된다는 걸 여기서 확인할 수 있습니다.
```

In [ ]:
lst = ["Hello", 123, "Bye", 3.14]

for item in lst:
  print(item)
  print("-"*10)

Hello
----------
123
----------
Bye
----------
3.14
----------

### `zip` 함수 사용하기 - ★★★

여러 개의 컬렉션을 하나로 모아서 병렬로 순회가 가능하도록 함

* 직렬 : 순서대로 하나씩 처리하는 것
* 병렬 : 여러 개를 동시에 처리하는 것

In [ ]:
student_name = ["A", "B", "C"]
score_list = [98, 87, 93]

# 두  리스트에서 각 0번끼리(A, 97) 1번, 2번끼리 data를 꺼내보겠음

In [ ]:
for name, score in zip(student_name, score_list):
  print(f"{name}의 점수는 {score}점 입니다.") # 언패킹 개념 중요하다

A의 점수는 98점 입니다.
B의 점수는 87점 입니다.
C의 점수는 93점 입니다.

👇 컬렉션의 크기가 다른 경우에는 크기가 작은 컬렉션이 기준이 된다.

In [ ]:
lst1 = [1,2,3,4] # 4개
lst2 = ["a", "b", "c"] # 3개

for item1, item2 in zip(lst1, lst2):
  print(item1, item2)

  # 결과값이 크기가 작은 컬렉션 개수 기준에 맞게 3개만 나옴.

1 a
2 b
3 c

학생의 국어, 영어, 수학 성적을 dict로 저장
  * 국어 : 100
  * 수학 : 80
  * 영어 : 85

이 학생의 각 성적을 출력
```
출력 결과
  "국어는 100점"
  "수학은 80점"
  "영어는 85점"
```

In [ ]:
# 방법1
score_dict = {
    "국어": 100,
    "수학": 80,
    "영어": 85
}

subjects = score_dict.keys()
scores = score_dict.values()

for subject, score in zip(subjects, scores):
  print(f"{subject}는 {score}점")

국어는 100점
수학는 80점
영어는 85점

In [ ]:
for subject, score in score_dict.items():
  print(f"{subject}는 {socre}점")

국어는 98점
수학는 98점
영어는 98점

1. 난이도 EASY
```python
scores = [
    {
      "math": 90,
      "science" : 80
    },
    {
      "math": 100,
      "science" : 78
    },
]
```
각 과목의 평균 점수를 구하시오

In [ ]:
scores = [
 {
   "math": 90,
   "science" : 80
 },
 {
   "math": 100,
   "science" : 78
 },
]

math_sum = 0
science_sum = 0

for score in scores:
  math_sum += score["math"]
  science_sum += score["science"]


print(f"수학 평균: {math_sum / len(scores)}")
print(f"과학 평균: {science_sum / len(scores)}")

수학 평균: 95.0
과학 평균: 79.0

### `range`
- 정수 리스트를 만들기 위한 함수
- `range(start : end : step)`
- `start`부터 시작해서 `end-1`까지 `step`만큼 건너 뛰면서 정수를 만들어 낸다.

In [ ]:
range(5)  # 0 ~ 4 까지 들어있는 정수 range 객체

range(0, 5)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [ ]:
for num in range(10):
  print("Hello", num)

# 파이썬에는 횟수제 방법이 없지만, 그것처럼 보이게하는 range가 있다?

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9

2. 난이도 HARD
```
몇 명의 점수를 입력 받으시겠습니까? : 3
math : 80
science : 90
math : 74
science : 99
math : 45
science : 32
```
```
math의 평균 : ???점
science의 평균 : ???점
```|

In [ ]:
# 내가 시도한 것(제미니도..조금도와줬음..)
# 몇번 입력을 받을지 변수
# 몇 명의 점수를 받을지 정해진 input값 만큼 수학, 과학 input을 반복한다.
# 과목은 수학, 과학 두개로 정해진건가? 그렇다면 수학, 과학 변수..

howmany = int(input("몇 명의 점수를 입력 받으시겠습니까? : "))

math_sum, science_sum = 0, 0
# howmany 값 만큼 수학, 과학 점수값을 입력받는다.
# 각 과목의 합을 구한 변수를 만든다.
for _ in range(howmany):
  math_score = int(input("math : "))
  science_score = int(input("science : "))
  print("-"*10)
  math_sum += math_score
  science_sum += science_score

# for math_sum, science_sum in range(howmany): 에러요 님아
#   print(input("math : "))
#   print(input("science : "))
#   print("-"*10)
#   math_sum += score["math"]
#   science_sum += score["science"]

# 입력받은 각 과목의 점수 총합 / 몇번 입력받은 변수값 = 평균
print(f"math의 평균 : {math_sum / howmany}")
print(f"science의 평균 : {science_sum / howmany}")

몇 명의 점수를 입력 받으시겠습니까? : 2
math : 85
science : 45
----------
math : 44
science : 25
----------
math의 평균 : 64.5
science의 평균 : 35.0

In [ ]:
# 1. 몇 명의 점수를 입력 받을 것인가?
# 2. 명 수가 정해지면 그 만큼 반복하면서 점수를 입력 받습니다.
#   - 점수를 입력 받으면, 그 점수 정보를 저장 -> 컬렉션을 활용
# 3. 다 입력 되면 총점과 평균을 구한다.

# 방법1
count = int(input("몇 명의 점수를 입력 받으시겠습니까? : "))

scores = [] # 빈리스트 생성 = 점수를 저장할 공간

for i in range(count):

  print("-" * 10)
  math_score = int(input("수학 점수 : "))
  sci_score = int(input("과학 점수 : "))

  score = { # 쌤은 dict을 써주면 좋겠다고 하심
      "math": math_score,
      "science": sci_score
  }

  scores.append(score)

  math_sum, science_sum = 0, 0 # 합계를 누적해야하는 변수에는 초기화를 시켜줘야한다는걸 기억하자


for score in scores:
  math_sum += score["math"]
  science_sum += score["science"]

print(math_sum / len(scores))
print(science_sum / len(scores))

몇 명의 점수를 입력 받으시겠습니까? : 3
----------
수학 점수 : 52
과학 점수 : 78
----------
수학 점수 : 41
과학 점수 : 55
----------
수학 점수 : 15
과학 점수 : 63
36.0
65.33333333333333

In [ ]:
# 방법2
count = int(input("몇 명의 점수를 입력 받으시겠습니까?"))

math_score_list = []
science_score_list = []

score_dict = {}

for i in range(count):
  print("-" * 10)
  math_score = int(input("수학 점수 : "))
  sci_score = int(input("과학 점수 : "))

  math_score_list.append(math_score)
  science_score_list.append(sci_score)

score_dict['math'] = math_score_list
score_dict['science'] = science_score_list

print(score_dict)

# 평균까지 구하려면?
# math_avg = sum(score_dict['math']) / len(score_dict['math'])
# science_avg = sum(score_dict['science']) / len(score_dict['science'])

# print(f"수학 평균: {math_avg}")
# print(f"과학 평균: {science_avg}")

몇 명의 점수를 입력 받으시겠습니까?3
----------
수학 점수 : 45
과학 점수 : 98
----------
수학 점수 : 53
과학 점수 : 26
----------
수학 점수 : 33
과학 점수 : 67
{'math': [45, 53, 33], 'science': [98, 26, 67]}

# `Continue`, `Break`

- `continue` : 반복문에서 해당 반복을 중지하고 계속 이어서 반복 루틴을 수행
- `break` : 반복문 자체를 중지

In [ ]:
for item in range(5):

  if item == 2:
    continue;

  print(item)

0
1
3
4
0
1

In [ ]:
for item2 in range(5):

  if item2 == 2:
    break

  print(item2)

0
1

# 중첩된 제어문(nested)
* 제어문 내에 제어문이 존재할 수 있다.

In [ ]:
lst1 = [10, 20, 30]
lst2 = ["A", "B", "C"]

for item1 in lst1:  # 3 * 3으로 9번 반복함
  for item2 in lst2:
    print(item1, item2)

10 A
10 B
10 C
20 A
20 B
20 C
30 A
30 B
30 C

In [ ]:
# 구구단

# 1) 2단, 3단, 4단, ◽◽◽ 9단
# 2) 각 단별로 1 ~ 9 까지 곱한다.
# 3) 2x1 = 2 2x2 = 4, ◽◽◽

print("=== 구구단을 외자 ~ ===")
for dan in range(2, 10):
  print(f"==={dan}단===")

  for times in range(1, 10):
    print(f"{dan} x {times} = {dan * times}")

=== 구구단을 외자 ~ ===
===2단===
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
===3단===
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
===4단===
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
===5단===
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
===6단===
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
===7단===
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
===8단===
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
===9단===
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

# 숙제
1. 구구단 ver.2 난이도 ★★☆☆☆
  * 홀수 단은 `~~ 곱하기 ~~ 는 ~~`
  * 짝수 단은 `~~ x ~~ = ~~`
  * 3단이면 `3 곱하기 1는 3`
  * 4단이면 `4 x 1 = 4`

2. 구구단 ver.3 난이도 ★★★☆☆
  * 가로 구구단 출력하기
  * ```
    2*1=1 3*1=3 4*1=4 .....
    2*2=4 3*2=6 4*2=8 .....
  ```
  * `print`함수 사용시에 `end="\t"`를 이용하면 옆으로 감
  * ```
  print("ab", end="\t")
  print("cd")
   >> ab      cd
  ```
3. 구구단 ver.4 난이도 ★★★★★
  * 격자 구구단 출력하기
  * ```
    2단   3단   4단
    ...   ...   ...
    5단   6단   7단
    ...   ...   ...
    8단   9단
    ...   ...
  ```

In [ ]:
# 홀짝 구분하기
print(3 % 2) # 1
print(4 % 2) # 0

if(2 % 2 == 1):
  print("홀수")
else:
  print("짝수")

In [ ]:
# print를 옆으로 수행하기
print("ab", end='\t')
print("cd")

ab	cd

In [ ]:
# 1. 구구단 ver.2 난이도 ★★☆☆☆
# 나의 시도

print("=== 구구단을 외자 ~ ===")
for dan in range(2, 10):
  print(f"==={dan}단===")

  for times in range(1, 10):
    if(dan % 2 == 0):
      print(f"{dan} x {times} = {dan * times}")
    else:
      print(f"{dan} 곱하기 {times}는 {dan * times}")

# 쌤거
# dans = range(2, 10)
# times = range(1, 10)

# for dan in dans:
#   print(f"==={dan}단===")

#   for time in times:
#     # 홀 / 짝 여부에 따른 표현을 다르게 출력
#     if dan % 2 == 0:
#       print(f"{dan} x {time} = {dan * time}")
#     else:
#       print(f"{dan} 곱하기 {time}은 {dan * time}")

=== 구구단을 외자 ~ ===
===2단===
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
===3단===
3 곱하기 1는 3
3 곱하기 2는 6
3 곱하기 3는 9
3 곱하기 4는 12
3 곱하기 5는 15
3 곱하기 6는 18
3 곱하기 7는 21
3 곱하기 8는 24
3 곱하기 9는 27
===4단===
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
===5단===
5 곱하기 1는 5
5 곱하기 2는 10
5 곱하기 3는 15
5 곱하기 4는 20
5 곱하기 5는 25
5 곱하기 6는 30
5 곱하기 7는 35
5 곱하기 8는 40
5 곱하기 9는 45
===6단===
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
===7단===
7 곱하기 1는 7
7 곱하기 2는 14
7 곱하기 3는 21
7 곱하기 4는 28
7 곱하기 5는 35
7 곱하기 6는 42
7 곱하기 7는 49
7 곱하기 8는 56
7 곱하기 9는 63
===8단===
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
===9단===
9 곱하기 1는 9
9 곱하기 2는 18
9 곱하기 3는 27
9 곱하기 4는 36
9 곱하기 5는 45
9 곱하기 6는 54
9 곱하기 7는 63
9 곱하기 8는 72
9 곱하기 9는 81

In [93]:
# 2. 구구단 ver.3 난이도 ★★★☆☆
# 나의 시도

print("=== 구구단을 외자 ~ ===")

for times in range(1, 10):
  for dan in range(2, 10):
      print(f"{dan} x {times} = {dan * times}",end="\t")
  print("\t")

# 쌤거
# dans = range(2, 10)
# times = range(1, 10)

# for time in times:
#   for dan in dans:
#     print(f"{dan} x {time} = {dan * time}", end='\t')
#   print()

=== 구구단을 외자 ~ ===
2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [100]:
# 3. 구구단 ver.4 난이도 ★★★★★
# 나는포기, 바로 해답으로. 해석필요

dans = range(2, 10)
times = range(1, 10)

h_num = 3 # 가로로 표시할 숫자의 개수

for idx in range(0, len(dans), h_num):
  # 한 줄에 표시할 단 가져오기
  now_dan = dans[idx : idx + h_num] # 1) 0, 1, 2

  for dan in now_dan:
    print(f"{dan}단", end = '\t\t')
  print()

  for time in times:
    for dan in now_dan:
      print(f"{dan} x {time} = {dan * time}", end='\t')
    print()
  print()

2단		3단		4단
2 x 1 = 2	3 x 1 = 3	4 x 1 = 4
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36

5단		6단		7단
5 x 1 = 5	6 x 1 = 6	7 x 1 = 7
5 x 2 = 10	6 x 2 = 12	7 x 2 = 14
5 x 3 = 15	6 x 3 = 18	7 x 3 = 21
5 x 4 = 20	6 x 4 = 24	7 x 4 = 28
5 x 5 = 25	6 x 5 = 30	7 x 5 = 35
5 x 6 = 30	6 x 6 = 36	7 x 6 = 42
5 x 7 = 35	6 x 7 = 42	7 x 7 = 49
5 x 8 = 40	6 x 8 = 48	7 x 8 = 56
5 x 9 = 45	6 x 9 = 54	7 x 9 = 63

8단		9단
8 x 1 = 8	9 x 1 = 9
8 x 2 = 16	9 x 2 = 18
8 x 3 = 24	9 x 3 = 27
8 x 4 = 32	9 x 4 = 36
8 x 5 = 40	9 x 5 = 45
8 x 6 = 48	9 x 6 = 54
8 x 7 = 56	9 x 7 = 63
8 x 8 = 64	9 x 8 = 72
8 x 9 = 72	9 x 9 = 81

# 기타 제어문 사용 방법
- 삼항연산
- 컴프리헨션

## 삼(3)항 연산자
- 파이썬이 아닌 다른 언어들은 삼항연산자(`?`)가 존재하지만, 파이썬에는 없음!
- `if`, `else`만 사용해서 삼항연산을 수행

간단한 `if`, `else` 구문을 **한줄의 코드**로 표현할 수 있는 방법

In [102]:
result = None # None : 아무것도 없음을 의미

a = 1
b = 2

if a > b:
  result = "Hello"
else:
  result = "Bye"

result

'Bye'

* 삼항연산 사용 방법
```python
<True 일 때 사용할 값> if [condition] else <False 일 때 사용할 값>
```

In [103]:
result =  "Hello"  if a > b else "Bye"
result

'Bye'

# 컴프리헨션
- `list`, `set`, `dict`를 간단하게 만들기 위한 문법
- `tuple`은 컴프리헨션으로 만들 수 없다!

반복문을 이용해서 컬렉션에 데이터를 추가하는 경우가 많다!
- 여러 전처리나 효과 없이 아주 단순하게 만들어진 데이터를 컬렉션에 추가(`append`)하고 싶으면????
- 한줄짜리 간단한 코드에 의한 아이템 추가

In [104]:
# 1 ~ 5 까지 각각의 장소에 제곱한 결과를 리스트에 담아놓기
result = []

for data in range(1, 6):
  result.append(data ** 2)

result

[1, 4, 9, 16, 25]

`list` 컴프리헨션
```python
[ <추가할 값에 대한 처리> for <값> in <collection> if <값에 대한 조건> ]

<값에 대한 조건>이 True일 때 collection에 있는 아이템을 리스트에 추가
if문은 있어도 되고 없어도 된다.
```

In [105]:
result = [ data ** 2 for data in range(1, 6)] # 제곱하는게 하나씩 꺼내는거야?
# for문부터 작성하기
result

[1, 4, 9, 16, 25]

In [109]:
# 1 ~ 100 까지 홀수인 정수에 대해서만 제곱한 후에 증가
result = [ data ** 2 for data in range(1, 101) if data % 2 == 1]
print(result)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809, 3025, 3249, 3481, 3721, 3969, 4225, 4489, 4761, 5041, 5329, 5625, 5929, 6241, 6561, 6889, 7225, 7569, 7921, 8281, 8649, 9025, 9409, 9801]

In [122]:
# 1 ~ 100 까지 정수에 대해서 홀수는 제곱, 짝수는 그대로 리스트에 추가하는 컴프리벤션
result = [ data if data % 2 == 0 else data ** 2 for data in range(1, 101)] # 홀수도 짝수로 리스트에 넣을거니까 값에 대한 조건이 없지
print(result)

[1, 2, 9, 4, 25, 6, 49, 8, 81, 10, 121, 12, 169, 14, 225, 16, 289, 18, 361, 20, 441, 22, 529, 24, 625, 26, 729, 28, 841, 30, 961, 32, 1089, 34, 1225, 36, 1369, 38, 1521, 40, 1681, 42, 1849, 44, 2025, 46, 2209, 48, 2401, 50, 2601, 52, 2809, 54, 3025, 56, 3249, 58, 3481, 60, 3721, 62, 3969, 64, 4225, 66, 4489, 68, 4761, 70, 5041, 72, 5329, 74, 5625, 76, 5929, 78, 6241, 80, 6561, 82, 6889, 84, 7225, 86, 7569, 88, 7921, 90, 8281, 92, 8649, 94, 9025, 96, 9409, 98, 9801, 100]

컴프리헨션은 일반 for문을 사용한 것 보다 빠르다!

In [123]:
%%timeit

lst = []

for data in range(1, 100001):
  if data % 3 == 0:
    lst.append(data)

len(lst)

9.06 ms ± 1.14 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

## `set`, `dict` 컴프리헨션

In [124]:
text = "aaabbbccc"
set(text)

{'a', 'b', 'c'}

In [125]:
# set 컴프리헨션
result = {f"{letter} 입니다." for letter in text}
result
# set컴프리헨션은 거의 잘 쓸일이 없긴함

{'a 입니다.', 'b 입니다.', 'c 입니다.'}

In [126]:
# dict 컴프리헨션(은 잘 쓰지)
key_list = ["아침", "점심", "저녁"]
value_list = ["바나나", "구내식당", "카레"]

result = {meal : food for meal, food in zip(key_list, value_list)}
result

{'아침': '바나나', '점심': '구내식당', '저녁': '카레'}

딕셔너리 컴프리헨션 실습
1. 단어의 글자가 몇 번 등장했는지에 대한 딕셔너리 만들기
    * `"letter" --> {'l' : 1, 'e' : 2, 't' : 2, 'r' : 1}`
2. 특정 문장에 단어가 몇 번 등장했는지에 대한 딕셔너리 만들기
    * `"hello hi bye hello" --> {'hello' : 2, 'hi' : 1, 'bye' : 1}`

In [128]:
"aaabbbccccdddddddd".count("dd")

4

In [133]:
# 내가 시도한 것
word = "letter"
count = 0

result = {f'{letter}' : word.count(letter) for letter in word}
result

# 쌤거
#text = "letter"

#result = { char : text.count(char) for char in ser(text)} # set을 안써도 되긴하는데 좀더 최적화를 시켜줄 수 있음
#result

{'l': 1, 'e': 2, 't': 2, 'r': 1}

In [140]:
# 내가 시도한 것
say = "hello hi bye hello"
word = say.split()
word

result = {f'{word}' : say.count(word) for word in word}
result

# 쌤거
#text = "hello hi bye hello"
#result = {term : text.count(term) for term in set(text.split())}
#result

{'hello': 2, 'hi': 1, 'bye': 1}